@import url("Enigme.css");

body{
    background-image: none;
    background-color: #021740;

}

/* #Wakanda-forever{
   
    width:100%;
    height:500%;
    
} */
#Wakanda-forever {
    width:100%;
    background-image: url('Illustrations + Logo/Wakanda/Pantherwakanda1.png');
    height:500px;
   background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
#histoire{
    background-image: url('Illustrations + Logo/Wakanda/Pantherwakanda2.png');
    
    height:800px;
   background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}